doctype html
html
	head
		title 会话
		meta(name="author", content="liaozhongwu 廖仲武")
		meta(name="description", content="a chat system 一个聊天网站")
		meta(name="keywords", content="node socketio chat 聊天")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0")
		meta(charset="utf-8")
		link(rel="stylesheet", type="style/css", href="css/lzw.css")
		link(rel="stylesheet", type="style/css", href="css/iconfont.css")
		link(rel="stylesheet", type="style/css", href="css/menu.css")
		script(data-main="js/menu", src="js/lib/require.js")
	body
		div(class="menu-header") #{user.name}
		div(class="menu-main")
			div(class="news-wrapper")
				div(class="scroll")
					ul(class="news-list")
			div(class="contacter-wrapper")
				div(class="scroll")
					ul(class="contacters")
			div(class="chat-wrapper")
				div(class="chat-members")
					ul(class="members")
				div(class="chat-main")
					div(class="message-wrapper")
						div(class="scroll")
							ul(class="messages")
					div(class="chat-footer")
						div(class="form-group")
							div(class="form-left")
								i(class="iconfont icon-biaoqing icon-btn J-face") 
							div(class="form-left")
								i(class="iconfont icon-jia icon-btn J-add needsclick")
								input(type="file", class="btn J-file", accept="image/*", multiple, style="display: none")
							div(class="form-right")
								i(class="iconfont icon-fasong icon-btn J-send")
							div(class="form-right")
								i(class="iconfont icon-jian icon-btn J-clear")
							div(class="form-control-with-right")
								input(type="text", class="input J-message", placeholder="请输入您的消息")
			div(class="setting-wrapper")
				div(class="scroll")
					ul(class="settings")
						li(class="setting")
							a(href="/logout") 退出
		div(class="menu-footer")
			div(class="menu-footer-item menu-footer-active" data-page="news")
				i(class="iconfont icon-duihua icon-label")
			div(class="menu-footer-item" data-page="contacter")
				i(class="iconfont icon-haoyou icon-label")
			div(class="menu-footer-item" data-page="chat")
				i(class="iconfont icon-duihuakuang icon-label")
			div(class="menu-footer-item" data-page="settings")
				i(class="iconfont icon-shezhi icon-label")